.foot {
    font-size: 14px;
    font-weight: 400;
    color: #888;
    width: 100%;
    position:relative;
    background: white;
    border-top: 1px solid #CCC;
    line-height: 64px;
}

.footline {
    width:100%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footline2{
    width:100%;
    display:flex;
    justify-content: center;
    position:absolute;
    bottom:0;
}

.foot .banquan {
    display: inline-block;
    margin-left: 30px;
}

.foot .message {
    margin-right:30px;
    cursor: pointer;
    color: rgba(0, 102, 204, 1);
}
.message:hover{
    text-decoration:underline;
}
